@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply grid bg-slate-900 leading-relaxed text-slate-300;
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* green-500 */
  border-radius: 6px;
  border: 3px solid #1e293b; /* slate-800 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4ade80; /* green-400 */
}

.hidden-section {
  opacity: 0;
  transform: translateY(75px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.visible-section {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-bg {
  background-color: #0f1f3b;
}
